
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

// --------------------------- Color variations ----------------------

$primary-color	: #65b133;
$primary-color2	: #65b133;
$title-color	: #1e283c;
$text-color		: #50668f;
$aquablue-color : #65b133;

$white			: #fff;
$offwhite		: #f2f5fa;
$black			: #222;