{% if include.header_id == 'header7' %}

{% assign header_id = include.header_id %}

{% elsif site.hero == 'product_background_image' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'product_fixed_image' %}

{% assign header_id = "header7" %}

{% elsif site.hero == 'product' %}

{% assign header_id = "header" %}

{% elsif site.hero == 'product_slider' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'product_video' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'saas_video' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'sass_background_image' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'sass_fixed_image' %}

{% assign header_id = "header2" %} 

{% elsif site.hero == 'sass_slider' %}


{% assign header_id = "header2" %}

{% elsif site.hero == "sass" %}

{% assign header_id = "header" %}

{% else %}

{% assign header_id = "header" %}

{% endif %}

    <!-- start Header Area -->
    <header id="{{ header_id }}" style="background:rgb(255,255,255)">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div id="logo">
                    <a href="{{ '/' | relative_url }}">
                        <img class="logo-1" src="{{ 'img/logo1.png' | relative_url }}" alt="" title="" />
                    </a>
                    <a href="index.html">
                        <img class="logo-2" src="{{ 'img/logo1.png' | relative_url }}" alt="" title="" />
                    </a>
                </div>
                <div class="nav-wrap d-flex flex-row align-items-center">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li>
                                <a href="../">Home</a>
                            </li>
                            <li>
                                <a href="{{ '#aboutus' | relative_url }}">Overview</a>
                            </li>
                            <li>
                                <a href="{{ 'blog/index.html' | relative_url }}">Articles</a>
                            </li>
                            <li>
                                <a href="/crr.html">COVID-19 Retail Audience Recapture</a>
                            </li>

                            
<li class="menu-has-children">
                                <a class="sf-with-ul" style="color:#1e283c">Our Products</a>
                                <ul style="display: none;">
                                    <li>
                                        <a href="/basilcx.html">BasilCX Engine</a>
                                    </li>
                                    <li>
                                        <a href="/ellaq.html">Ella</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ '#contact' | relative_url }}" style="color: #65b133; font-style: Bold">Let's Chat</a>
                            </li>
                            <li>
                                <a href="{{ 'app.html' | relative_url }}">Sign in</a>
                            </li>
                        </ul>
                    </nav>
                </div>
<!--                 <div>
                    <a class="genric-btn" href="{{ site.request-demo }}">Sign Up</a>
                </div> -->
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->

