{% if include.header_id == 'header7' %}

{% assign header_id = include.header_id %}

{% elsif site.hero == 'product_background_image' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'product_fixed_image' %}

{% assign header_id = "header7" %}

{% elsif site.hero == 'product' %}

{% assign header_id = "header" %}

{% elsif site.hero == 'product_slider' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'product_video' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'saas_video' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'sass_background_image' %}

{% assign header_id = "header2" %}

{% elsif site.hero == 'sass_fixed_image' %}

{% assign header_id = "header2" %} 

{% elsif site.hero == 'sass_slider' %}


{% assign header_id = "header2" %}

{% elsif site.hero == "sass" %}

{% assign header_id = "header" %}

{% else %}

{% assign header_id = "header" %}

{% endif %}

    <!-- start Header Area -->
    <header id="header2">
        <div class="container-fluid">
<!--             <div class="row align-items-center justify-content-between">
                <div id="logo">

                </div> -->
                <div class="nav-wrap d-flex flex-row align-items-center">
                    <nav id="nav-menu-container" style="margin: 0 auto;padding-left: 2%;">
                        <ul class="nav-menu">
                            <li>
                                <a class="shownavmobile" href="../">Home</a>
                            </li>
<!--                             <li>
                                <a href="{{ 'blog/index.html' | relative_url }}">Articles</a>
                            </li> -->
                            
<li>
                    <a class="hidenavmobile"  href="{{ '/' | relative_url }}" style="display: inline-block;">
                        <img class="logo-1 hidenavmobile" src="{{ 'img/logo1.png' | relative_url }}" alt="" title="" style="display: inline-block;max-height: 37px;object-fit: contain;margin-top:-2px;"/>
                    </a>
                </li>
<li>
<p class="hidenavmobile" style="color:#333;"><b>COVID-19 RETAIL AUDIENCE RECAPTURE INITIATIVE</b></p>
</li>
                    <li>
                    <a class="hidenavmobile" href="https://www.areaprobe.com/" target=”_blank” style="display: inline-block;">
                        <img class="logo-1 hidenavmobile" src="{{ 'img/areaprobe.png' | relative_url }}" alt="" title="" style="display: inline-block;max-height: 35px;object-fit: contain;margin-top:-2px;" />
                    </a>
                </li>

                            <li>
                                <a href="#contact" style="color: #65b133; font-style: Bold">Let's Chat</a>
                            </li>
<!--                             <li>
                                <a href="{{ 'app.html' | relative_url }}">Sign in</a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
<!--                 <div>
                    <a class="genric-btn" href="{{ site.request-demo }}">Sign Up</a>
                </div> -->
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->

