<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- meta character set -->
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700" rel="stylesheet">
    <!-- ===========================================
		CSS
	============================================= -->
    <link rel="stylesheet" href="{{ 'css/linearicons.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/magnific-popup.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/nice-select.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/animate.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/owl.carousel.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158946988-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158946988-1');
</script>


<!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '1761456', 'w4y2a0y8j5', 'load');
</script>
<!-- End MailerLite Universal -->
</head>