<!-- Start hero-section -->
    <section class="hero-section relative editable" style="background-image: url(../img/hero/concert_contact.jpg);max-height: 80%;height: 80vh;max-width:100%;background-size: cover;background-repeat: no-repeat;display: flex;justify-content: center;">
<!--         <p style="font-size: 400px;color:black;align-self: center;"> asdf </p> -->

<div 
                style="background: rgba(41,52,62,0.5);align-self: center;text-align: center;
                padding-top:20px;padding-bottom:40px;padding-left:40px;padding-right:40px;
                border-style:solid;border-width:0.5px;border-color: #5da52e;
                max-width: 95%;max-height: 400px;">
                    <h1 style="color:white;padding-bottom: 10px;">Basil Labs Articles</h1>
                    <p class="pt-24 pb-20 mw-510" style="color:#ffffff;font-size: 20px;font-style: bold;font-family: Roboto;">
                    Innovating Together.</p>
                    <a class="genric-btn" style="color:white;" href="#contact">Let's Chat</a>
                </div>
    </section>
    <!-- End hero-section -->

    <!-- Start hero-section -->
    <!-- <section class="hero-section-blog relative">
        <div id="blog-owl" class="owl-carousel owl-theme">

        {% for item in site.hero_blog_slider %}
             <div class="items">
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-lg-12 no-padding">
                            <img class="owl-img" src="{{ item.image | relative_url }}"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content flex justify-content-between">
                                <div>
                                    <a href="{{ item.url }}"><h1> {{ item.title }}</h1></a>
                                </div>

                                <div class="d-lg-flex align-items-center d-none">
                                    <div class="text-right">
                                        <div class="author">
                                            {{ item.date }}
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </section> -->
    <!-- End hero-section -->
