
    <!-- Start hero-section -->
    <section class="hero-section relative editable">
        <div class="container">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-6 content-wrap editable">
                    <h1>
                        {{ site.hero_product_fixed_image_name }}
                    </h1>
                    <p class="pt-20 pb-20 mw-510 editable">
                        {{ site.hero_product_fixed_image_text }}
                    </p>
                    <a href="{{ site.hero_product_fixed_image_btn_one_link | absolute_url }}" class="genric-btn2 editable">
                        {{ site.hero_product_fixed_image_btn_one_text }}
                    </a>
                </div>

                <div class="col-lg-6 editable">
                    <img class="hero-img4 editable" src="{{ site.hero_product_fixed_image_image }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End hero-section -->
