---
layout: blog
---

{% include hero/blog_details.html %}
    <!-- Start main body contents -->
    <section class="blog-post section-gap" style="padding-top:80px;padding-bottom: 20px;">
        <div class="details-body">
            <div class="container">
                <h2 class="head">{{ page.title | escape }}</h2>

                {{ content }}

                <div class="mt-40 mb-20">
                    <hr>
                </div>

                <div class="post-links">
                    <div class="d-flex align-items-center justify-content-between">
                       {% if page.previous.url %} 
                        <div class="prev-post d-flex relative align-items-center">
                            <div>
                                <a class="post-link" href="{{page.previous.url}}">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="ml-3 relative">
                                <p class="mb-0">Next post</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if page.next.url %}
                        <div class="next-post d-flex relative align-items-center">
                            <div class="mr-3 relative">
                                <p class="mb-0">Next post</p>
                            </div>
                            <div class="">
                                <a class="post-link" href="{{page.next.url}}">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>


                <div class="comment-section">
                    <h4 class="comment-head">
                      {%- if site.disqus.shortname -%}
					    {%- include disqus_comments.html -%}
					  {%- endif -%}
                </div>

       
            </div>
        </div>

<!-- button floating -->
<style type="text/css">
    .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:rgba(41,52,62,0.15);
    border-color: #65b133;
    border-width: 2px;
    border-style: solid;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:.45em;
}
</style>
<script>
function goBack() {
  window.history.back();
}
</script>


<a href="#" class="float">
<i class="fa fa-arrow-left my-float" onclick="goBack()"></i>
</a>

    </section>
    <!-- End main body contents -->
